header {
    width: 100%;
    height: 3em;
    background: red;
    padding: 0 5em;
    margin: 0 auto;
    text-align: center;
    padding-top: 0.2em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

* {
    box-sizing: border-box;
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    height: 2em;
}

.content {
    align-self: center;
}

.image {
    vertical-align: middle;
    line-height: 30px;
    margin: 0 0.4em;
}