<header>
  <h3>Pokemon</h3>
  <div class="image">
    <img
      src="https://cdn0.iconfinder.com/data/icons/social-productivity-line-art-6/128/pokemon-pokeball-512.png"
      alt="pokeball"
    />
  </div>
  <h3>Catalogue</h3>
</header>
