<div class="grid">
  <div
    *ngFor="let pokemon of pokemonList$ | async"
    (click)="onClicked(pokemon.name)"
    class="cards"
  >
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title> {{ pokemon.name }} </mat-card-title>
      </mat-card-header>
      <img
        src="{{ getIdAndImage(pokemon.url).url }}"
        alt="pokemon.name"
        class="img-sprite"
      />
    </mat-card>
  </div>
</div>
<mat-paginator [length]="pokemonCount" [pageSize]="50" (page)="onPaginatorChanged($event)"> </mat-paginator>

