.grid {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
} 

.img-sprite {
    display: flex;
    margin: 0 auto;
}

.card {
    width: 200px;
    height: 200px;
}

.cards {
    margin-left: auto;
}